body {
  @include bg-pattern($white);
  color: $black;
  display: grid;
  grid-template-columns: $side-bar-width 1fr;
}
.side-bar {
  display: grid;
  grid-template-rows: 180px 1fr auto;
  color: $white;
  text-align: center;
  @include bg-pattern($blue);
  .title {
    transition: 1s;
    transform: skewY(3deg);
    padding: $padding;
    margin: $margin;
    margin-bottom: 0;
    @include bg-border($red);
    h1 {
      transition: 1s;
      font-size: $big-font-size;
      transform: skewY(-3deg);
      text-align: center;
      span {
        display: block;
      }
    }
    &:hover {
      transition: 1s;
      transform: skewY(-3deg);
      h1 {
        transition: 1s;
        transform: skewY(3deg);
      }
    }
  }
  .letters {
    display: grid;
    grid-template-rows: repeat(26, 1fr);
    p:first-child {
      border-right: solid 3px $black;
    }
    p {
      display: inline-block;
      width: 45px;
      font-size: $font-size;
      height: 100%;
      padding: 1.5rem 0 0 0;
    }
  }
  button {
    transition: 0.2s;
    @include bg-border($red);
    color: $white;
    padding: 1rem 2rem;
    margin: 0 0 1rem 0;
    font-size: $big-font-size;
    transform: skewY(-2deg) translateY(-2px);
    &:hover {
      @include bg-border(mix($red, white, 90%));
    }
    &:active {
      transform: skewY(-2deg) translateY(0);
    }
  }
}
// SECTIONS
section {
  padding: $padding 0;
  margin: 0 4rem;
}
.about {
  font-size: $font-size;
  @include bg-pattern($blue);
  color: $white;
  margin: 4rem 4rem 0 0;
  padding: $big-padding;
  transform: skewY(-1deg);
  h2,
  p {
    // max-width: 600px;
    font-size: $big-font-size;
    transform: skewY(1deg);
  }
}
.letter-intro {
  border-right: $the-line;
  border-bottom: $the-line;
  transform: skewY(-5.2deg);
  margin-top: 4rem;
  .aa {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 2rem;
    transform: skewY(5.2deg);
    p {
      font-size: $jumbo-font-size;
    }
  }
}
.text-sample {
  display: none;
  border-right: $the-line;
  border-bottom: $the-line;
  margin-top: -9.3rem;
  padding-top: 9.3rem;
}
//
.numbers-and-punct {
  border-left: $the-line;
  margin: 5rem 4rem 0;
  div {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 1rem;
    p {
      font-size: $big-font-size;
      text-align: center;
      padding: 0.5rem;
    }
  }
}
.edit {
  margin: 1rem 0 -3rem 4rem;
  padding: 0;
  font-size: $big-font-size;
  p {
    .blue {
      color: $darkblue;
      display: inline-block;
      transform: rotate(-30deg);
    }
  }
}
.panos {
  .panograms {
    border: $the-line;
    padding: $big-padding;
    margin: $margin;
    margin-left: 0;
    font-size: $big-font-size;
    width: 1000px;
    &.first {
      transform: skewY(2deg);
      border-width: 0 0 4px 4px;
      p {
        transform: skewY(-2deg);
        text-transform: uppercase;
      }
    }
    &.second {
      transform: skewY(-3deg);
      border-width: 0 4px 4px 0;
      p {
        transform: skewY(3deg);
      }
    }
  }
}
