body {
  @include bg-pattern($white);
  color: $black;
}
// SECTIONS
header,
footer,
section {
  padding: $big-padding;
}
header {
  @include bg-pattern($darkblue);
  h1 {
    font-size: $big-font-size;
    color: $white;
    font-size: $jumbo-font-size;
    text-align: center;
    padding: $padding;
  }
  .about {
    max-width: $max-width;
    text-align: justify;
    margin: 0 auto;
    font-size: $font-size;
    color: $white;
    padding: $big-padding;
  }
  .download {
    text-align: center;
    button {
      transition: 0.2s;
      @include bg-border($red);
      color: $white;
      padding: 1rem 2rem;
      margin: 0 auto;
      font-size: $big-font-size;
      transform: skewY(-2deg) translateY(-2px);
      &:hover {
        transform: skewY(-2deg) translateY(-4px);
        @include bg-border(mix($red, white, 90%));
      }
      &:active {
        transform: skewY(-2deg) translateY(0);
      }
    }
  }
}
section.panos {
  .edit {
    // margin: 1rem 0 -3rem 4rem;
    text-align: center;
    padding: 0;
    font-size: $big-font-size;
    p {
      .blue {
        color: $darkblue;
        display: inline-block;
      }
    }
  }
  .panograms {
    margin: 50px auto;
    max-width: $max-width;
    padding: $padding;
    font-size: $big-font-size;
    p {
      line-height: 1.6;
    }
    &.first {
      p {
        text-transform: uppercase;
      }
    }
  }
}
section.glyphs {
  ul {
    //maybe this for mobile
    // overflow: scroll;
    // width: 100vw;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(90px, 1fr));
    gap: 1rem;
    max-width: calc(#{$max-width}* 2);
    margin: 0 auto;
    perspective: $perspective;
    li {
      transition: 0.5s;
      font-size: $big-font-size;
      border: solid 1px mix($white, black, 90%);
      background: $white;
      border-radius: 5px;
      padding: $padding;
      text-align: center;
      transform: translateZ(-5px);
      &:hover {
        transform: translateZ(0);
        background: #fff;
      }
    }
  }
}
footer {
  @include bg-pattern($red);
}
