*,
*:before,
*:after {
  box-sizing: border-box;
}
body {
  @include bg-pattern($white);
  color: $black;
}
// SECTIONS
header,
footer,
section {
  padding: $big-padding;
}
.download {
  text-align: center;
  .button {
    transition: 0.2s;
    color: $white;
    padding: 1rem 2rem;
    margin: 0 auto;
    font-size: $big-font-size;
    transform: skewY(-2deg) translateY(-2px);
    text-decoration: none;
    &:hover {
      transform: skewY(-2deg) translateY(-4px);
    }
    &:active {
      transform: skewY(-2deg) translateY(0);
    }
  }
}
header {
  @include bg-pattern($darkblue);
  h1 {
    color: $white;
    font-size: $title-font-size;
    text-align: center;
    padding: $padding;
  }
  .about {
    li {
      display: inline-block;
    }
    text-align: center;
    margin: 0 auto;
    max-width: $max-width;
    font-size: $font-size;
    color: $white;
  }
  .download {
    padding: $big-padding;
    .button {
      @include bg-border($red);
      color: $white;
      &:hover {
        @include bg-border(mix($red, white, 90%));
      }
    }
  }
}
section.panos {
  .edit {
    text-align: center;
    padding: 0;
    font-size: $big-font-size;
    p {
      .blue {
        color: $darkblue;
        display: inline-block;
      }
    }
  }
  .panograms {
    margin: 50px auto;
    max-width: $max-width;
    padding: $padding;
    font-size: $big-font-size;
    p {
      line-height: 1.6;
    }
  }
}
section.glyphs {
  ul {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(125px, 1fr));
    gap: 1rem;
    max-width: calc(#{$max-width}* 2);
    margin: 0 auto;
    li {
      transition: 0.5s;
      font-size: $jumbo-font-size;
      border: solid 1px mix($white, black, 90%);
      background: $white;
      border-radius: 5px;
      padding: $padding;
      text-align: center;
      &:hover {
        background: #fff;
      }
    }
  }
}
section.waterfall {
  margin: 0 auto;
  max-width: 1480px;
  overflow-x: scroll;
  p {
    width: 1415px;
  }
  p.fsize {
    font-size: $small-font-size;
    margin-top: $margin;
    position: sticky;
    left: 0;
    width: auto;
  }
  p.f96 {
    font-size: 96px;
  }
  p.f72 {
    font-size: 72px;
  }
  p.f60 {
    font-size: 60px;
  }
  p.f55 {
    font-size: 55px;
  }
  p.f48 {
    font-size: 48px;
  }
  p.f36 {
    font-size: 36px;
  }
  p.f28 {
    font-size: 28px;
  }
  p.f24 {
    font-size: 24px;
  }
  p.f20 {
    font-size: 20px;
  }
  p.f16 {
    font-size: 16px;
  }
  p.f10 {
    font-size: 10px;
  }
  p.f8 {
    font-size: 8px;
  }
}
footer {
  .download {
    padding: $padding;
    .button {
      @include bg-border($blue);
      color: $white;
      &:hover {
        @include bg-border(mix($blue, white, 90%));
      }
    }
  }
  p {
    color: $white;
    text-align: center;
    max-width: $max-width;
    margin: 0 auto;
  }
  @include bg-pattern($red);
}
