@include for-phone-only {
  body {
    display: block;
    width: 100%;
  }
  .side-bar {
    width: 100vw;
    .title {
      width: 80vw;
      margin: 40px auto;
      height: 80px;
      font-size: 1rem;
      h1 span {
        display: inline;
      }
    }
    .letters {
      display: none;
    }
    button {
      display: none;
    }
  }
  // SECTIONS
  .content {
    display: grid;
  }
  section {
  }
  .about {
    h2,
    p {
    }
  }
  .letter-intro {
    .aa {
      p {
      }
    }
  }
  .text-sample {
    display: none;
  }
  //
  .numbers-and-punct {
    div {
      p {
      }
    }
  }
  .edit {
    p {
      .blue {
      }
    }
  }
  .panos {
    .panograms {
      width: 100vw;
      font-size: 3rem;
      padding: 1rem;
      &.first {
        p {
        }
      }
      &.second {
        p {
        }
      }
    }
  }
}
