@font-face {
  font-family: "signal-and-noise";
  //src: url("./../fonts/SignalAndNoise.ttf");
  src: url("./../fonts/SignalAndNoise.otf");
}
html {
  font-size: 62.5%;
  line-height: 1.5;
}
body,
text,
input,
textarea,
button {
  font-size: $font-size;
  line-height: 1.2;
  font-family: "signal-and-noise";
}
a {
  color: darken($white, 10%);
  display: inline-block;
  &:hover {
    // color: $white;
    text-decoration: none;
  }
  &:active {
    transition: 0.1s;
    transform: translateY(1px);
  }
}
*::selection {
  background: $red;
  color: $blue;
}
