@font-face {
  font-family: "signal-and-noise";
  src: url("./../fonts/SingnalAndNoise.ttf");
}
html {
  font-size: 62.5%;
}
body,
text,
input,
textarea,
button {
  font-size: $font-size;
  line-height: 1.2;
  font-family: "signal-and-noise";
}
a {
  color: adjust-color($color: $red, $saturation: -40%, $lightness: 00%);
  display: inline-block;
  text-decoration: none;
  &:hover {
    color: $red;
  }
  &:active {
    transition: 0.1s;
    transform: translateY(1px);
  }
}
*::selection {
  background: $red;
  color: $blue;
}
